<h1>Help</h1>
  <p>
    Get help on the Ruby on rails tutorial at the 
    <a href="http://railstutoral.org/help">RAils Tutorial help page</a>
    To get help on this sample app se the 
    <a href="http://railstutorial.org/book">Rails Tutorial book</a>
  </p>
